.left-container {
	@apply w-[100px] pr-2 text-end font-normal text-muted-foreground md:w-[190px];
}

.middle-container {
	@apply flex w-[50px] justify-center;
}

.right-container {
	@apply -ml-[22px] w-full border-l-2 border-dotted border-zinc-300 pl-[30px];
}
